<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="/scripts/tmhDynamicLocale.js"></script>
	<script src="/scripts/angular-cookies.js"></script>
	<script src="/scripts/angular-translate.js"></script>
	<script src="/scripts/angular-translate-loader-static-files.js"></script>
	<script src="/scripts/angular-translate-loader-url.js"></script>
	<script src="/scripts/angular-translate-storage-local.js"></script>
	<script src="/scripts/angular-translate-storage-cookie.js"></script>
	<script src="/scripts/angular-translate-handler-log.js"></script>
	<script src="/scripts/angular-locale_en.js"></script>
	<script src="/scripts/angular-locale_es.js"></script>
</head>

<h1> {{message}} </h1>
<h2> {{error.status}} </h2>
<pre> {{error.stack}} </pre>
