@CHARSET "ISO-8859-1";

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Regular.otf") format("opentype");
}

@font-face {
  font-family: Quicksand;
  font-weight: bold;
  src: url("../fonts/Quicksand-Bold.otf") format("opentype");
}

@font-face {
  font-family: Quicksand;
  font-weight: lighter;
  src: url("../fonts/Quicksand-Light.otf") format("opentype");
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus,
button:active, button:active:focus, button:focus,
.dropdown.active.focus, .dropdown.active:focus, .dropdown.focus, .dropdown:active.focus, .dropdown:active:focus, .dropdown:focus,
.dropbtn.active.focus, .dropbtn.active:focus, .dropbtn.focus, .dropbtn:active.focus, .dropbtn:active:focus, .dropbtn:focus  {
    outline: none !important;
}


body{
	font-family: Quicksand;
	color: #fff;
  margin: 0px;
  background: #43C5BE;

}

a{
  color: white;
}

 h1{
   font-size: 2em;
   font-weight: bold;
   color: #fff;
   margin:0;
   padding:0;
   text-transform: uppercase;
 }

 .section{
   text-align:center;
   min-height: 100%;
   display: inline-block;
   width: 100%;
 }

 @-moz-document url-prefix() {
   .section{
     text-align:center;
     min-height: 100%;
     display: inline-block;
     width: 100%;
     height: 100%;
   }
 }

 #wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
 }


 #wrapper td {
   vertical-align: middle;
   text-align: center;
 }

 #first-row{
   height: 10%;
 }

 #second-row, #third-row{
   height: 30%;
   padding: 35px;
 }

 @media(max-width:767px){
  img {
     width: auto;
     height: 80px;
  }

  p{
    font-weight: lighter;
    margin: 0px;
    font-size: 15px;
  }

/*@media(max-height:480px){
  .header{
    padding-top: 4em;
    height: auto;
    padding-bottom: 2em;
  }
}

@media(min-height:481px){
  .header{
    padding-top: 4em;
    height: auto;
    padding-bottom: 4em;
  }
}

@media(min-width:320px){
  .header{
    padding-top: 5em;
    height: auto;
    padding-bottom: 2em;
  }
}*/

  .header > h1{
    font-size: 20px;
  }

  #services-list{
    list-style-type:none;
    height: 100%;
    font-size: 1em;
    width: 100%;
  }
 }

 @media(min-width:768px){
  img {
     width: auto;
     height: 120px;
  }
  p{
    font-weight: lighter;
    margin: 0px;
    font-size: 18px;
  }
  /*.header{
    padding-top: 11em;
    height: auto;
    padding-bottom: 4em;
  }*/

  .contact-page{
    margin-top: 8em;
  }

  .header > h1{
    font-size: 22px;
  }

  #services-list{
    list-style-type:none;
    height: 100%;
    font-size: 2em;
    width: 100%;
  }
 }
 @media(min-width:992px){
  img {
     width: auto;
     height: 100px;
  }
  p{
    font-weight: lighter;
    margin: 0px;
    font-size: 18px;
  }
  /*.header{
    padding-top: 11em;
    height: auto;
    padding-bottom: 4em;
  }*/

  #services-list{
    list-style-type:none;
    height: 65%;
    font-size: 2em;
    width: 100%;
  }
 }

 @media(min-width:1200px){
  img {
     width: auto;
     height: 120px;
  }
  p{
    font-weight: lighter;
    margin: 0px;
    font-size: 18px;
  }

  .contact-page{
    margin-top: 8em;
  }

  #services-list{
    list-style-type:none;
    height: 100%;
    font-size: 2em;
    width: 100%;
  }
 }

.contact-form{
  text-align: left;
}

.form-error{
  color: red;
  font-weight: bold;
  font-size: 11px;
  color: rgba(253, 67, 67, 0.7);
}

#social{
  position: relative;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 4em;
}

#services-list td img{
  display: block;
    margin: 0 auto;
    height: 2em;
    margin-bottom: 1em;
}

label{
  font-weight: normal;
  font-size: 1em;
}

input, textarea {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px rgba(255, 255, 255, .7);
  background-color: transparent;
  resize: none;
}

@media screen and (min-width: 320px) {
  input, textarea{
    height: 35px;
  }
}

@media screen and (max-width: 321px) {
  input, textarea{
    height: 50px;
  }
}

@media(min-width:320px){
  input, textarea{
    height: 35px;
  }
}

textarea{
  height: 8em;
}

@media screen and (max-width: 320px) {
  textarea{
    height: 4em;
  }
}

input:focus, textarea:focus {
  outline: none;
}

#submit-button, #submit-button:focus{
  width: 100%;
  font-weight: bold;
  color: #507999;
  appearance: none;
  box-shadow: none;
}

@media screen and (min-width: 320px) {
  #submit-button{
    height: 4em;
  }
}

@media screen and (max-width: 321px) {
  #submit-button{
    height: 3em;
  }
}

.overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

.sk-circle {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.59);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.alert {
  border: none;
  text-align: center;
}

.alert-danger{
  background-color: #ff8181;
  color: white;
}

.alert-success{
  background-color: #41c70a;
  color: white;
}

.fadein{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

#second-row {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#third-row{
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

#accordion ul{
  list-style-type: none;
}
